body{
    
    min-height: 100vh;
    background-image:url("https://images.unsplash.com/photo-1531651750200-b2c2b3ddc876?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position:bottom;
} 
.main-container{
    
    display: flex;
    margin: auto;
    justify-content: space-around;
    
}

h1{
    font-family: Bungee;
    color:#ff0f7b;
    font-size: 80px;
    text-align: center;
    display: block;
    height: 100px;
}
@media screen and (max-width:600px){
    h1.titulo{
        font-size: 3rem;
        margin-top: 5px;
          }
  
}

.member-container{
    border: #ff0f7b 5px solid;
    height: 350px;
    width: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-bottom: 15px;
}
.nombre h3{
    font-family: Oxanium;
    font-size: 20px;
    font-weight: 400;

}
.nombre h4{
    font-family: roboto;
    font-size: 12px;

}
.nombre{
    text-align: center;
    margin-top: 5px;
    color: white;
    font-style: bold;
    flex: 1;
}
.redes-container{
   align-items: flex-end;
   margin: auto;
}
.icono img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    margin-top:10px; 
    color: #ff0f7b;
}
.member-container:hover{
    box-shadow: 3px 3px 6px 2px #3333;
    transform: scale(1.05);
    cursor: pointer;
    
}