* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}




@media (max-width: 1300px){
  #thDescrip, #tdDescrip{
    display: none;
  }
  #thImgUrl, #tdImgUrl{
    display: none;
  }
}