* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(60deg, #fca8b6, #7d8ea0);
  height: 100vh;
}
#container {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/fondo11.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
#container .content {
  max-width: 600px;
  text-align: center;
  width: 100%;
}
#container .content h2 {
  font-size: 5rem;
  color: rgb(179, 61, 159);
  line-height: 1em;
}

#container .content h4 {
  position: relative;
  font-size: 2.6em;
  margin-bottom: 30px;
  color: rgb(179, 61, 159);
  font-weight: 300;
  padding: 10px 20px;
  display: inline-block;
}

#container .content p {
  font-size: 1.5rem;
  color: rgb(138, 81, 128);
}

#container .content a {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background-color: #8d5e6f;
  color: #fff;
  text-decoration: none;
  margin-top: 25px;
  border-radius: 25px;
  border-bottom: 2px solid;
}
